/*To make the webpage centered*/
#wrap{
	width:1400px;
	margin:0 auto;
}

/*css for header starts*/
.links{
	font-size: 20px;
	font-family: "Calibri", sans-serif;
	font-weight: bold;
	text-decoration: none;
	color: #191919;
}

a:link{
	text-decoration: none;
	font-weight: bold;
	font-family: "Calibri", sans-serif;
	color:#000000;
}
a:visited{
	text-decoration: none;
	font-weight: bold;
	font-family: "Calibri", sans-serif;
	color:#000000;
}
a:hover{
	text-decoration: underline;
}

img:hover{			/*reduce opacity of image while hovering with mouse*/
	opacity: 0.9;
}

table#menu-table{
	margin-top: -10px;
	border-color: #ffffff;
	border-collapse: collapse;
}
td.menu-td{
	border-width: 1px;
	border-color: #8c8c8c;
	border-collapse: collapse;
	border-style: solid;
	padding:10px;
}

#search{
	width: 200px;
	font-size: 16px;
	font-weight: bold;
	background-color: #bbbbbb;
	font-family: "Calibri", sans-serif;
}

#search-image-overlap{
	position: relative;
	top:0px;
	left:-25px;
}
#bbc{
	width: 200px;
	text-align: right;
	border-left-color: white;
}

#space{
	width: 100px;
}

#search-box-size{
	width:350px;
	border-right-color: white;
}
/*css for header ends*/

/*css for main section begins*/
.main{
	margin-left: 100px;
	width: 720px;
	float: left;
}

#date{
	font-size: 27px;
	font-family: "Calibri", sans-serif;
	color: #191919;
}

#image{
	width: 700px;
	font-size: 18px;
	font-family: "Calibri", sans-serif;
	color: #191919;
}

#text-on-image{
	width: 700px;
	font-size: 35px;
	font-weight: bold;
	font-family: "Calibri", sans-serif;
	padding: 10px;
	position:relative;
	top:-57px;
	left:0px;
	color:white;
	background: rgb(0, 0, 0); 
    background: rgba(0, 0, 0, 0.7);
}

a#text-on-image:hover{
	text-decoration: none;
}

td.misc-news-table{
	padding: 10px;
	text-align: left;
	width:175px;
	font-size: 16px;
}

#misc-news-table-cell2{
	position: relative;
	top:10px;
}

#misc-news-table-cell3{
	position: relative;
	top: -10px;
}

#misc-news-table-cell4{
	position: relative;
	top: -10px;
}

.hr-main{
	width:700px;
	text-align: left;
	margin-left: 0;
}

a.red-heading{
	color:#cc0000;
	font-size: 26px;
	font-family: "Calibri", sans-serif;
}
.news{
	width:700px;
	font-family: "Calibri", sans-serif;
	color: #191919;
}

#news1{
	width:340px;
	height:350px;
}

a.bold-link{
	font-size: 24px;
	font-family: "Calibri", sans-serif;
	font-weight: bold;
}

.news2{
	position: relative;
	top:30px;
	font-size: 16px;
	padding-left: 20px;
	width:150px;
	height:350px;
}

.left{
	float: left;
}

.india{
	width:350px;
	font-family: "Calibri", sans-serif;
	color: #191919;
}

#india-text{
	width: 340px;
	position: relative;
	top:30px;
	font-family: "Calibri", sans-serif;
	color: #191919;
}

#head4{
	font-size: 20px;
}

h4{
	padding-top: 5px;
	padding-bottom: 0;
	margin: 0;
}

a.black-heading{
	font-size: 26px;
	font-family: "Calibri", sans-serif;
}

#sport{
	width: 340px;
	padding-left: 10px;
	font-family: "Calibri", sans-serif;
	color: #191919;
}

.video{
	font-family: "Calibri", sans-serif;
	color: #191919;
	width:450px;
	height:350px;
	
}

.thumbnail{
	padding-top: 25px;
	width:250px;
	height:350px;
}

h3{
	padding: 0;
	margin: 0;
}

.pad-right
{
	padding-right: 10px;
}

.other-news{
	width:710px;
	height:250px;
}

.other-news-part{
	width:165px;
	padding-right: 10px;
}
.other-news-heading{
	font-size: 16px;
	font-family: "Calibri", sans-serif;
	color: #AF2324;
	font-weight: bold;
}

#big-heading{
	font-size: 26px;
	font-family: "Calibri", sans-serif;
	font-weight: bolder;

}

.languages{
	background-color: #F0F0F0;
	width: 700px;
	height: 130px;
	padding: 15px; 
	line-height: 200%;
}

.language-text{
	padding-right:7em; 
}

/*Main section css ends here*/

/*Right section css begins*/
aside{
	height:1000px;
	width:400px;
	float: left;
	margin-top: 20px;
	padding-top:22px;
	font-family: "Calibri", sans-serif;
	font-color: #191919; 
}


.aside-div{
	background-color:#F1F1EF;
	padding: 10px;
	font-color: #191919;  
}

.aside-heading{
	font-size: 22px;
	margin :5px 0px 10px 0px;
}

.hr-aside{
	width:400px;
	text-align: left;
	margin-left: 0;
}

h2{
	font-family: "Calibri", sans-serif;
	color: #191919;
}

.on-air{
	color: gray;
	font-family: "Calibri", sans-serif;
	font-weight: bold;
}

p{
	margin:10px 0px 0px 0px;
}

#large-text{
	font-weight: bold;
	font-size: 20px;
}

#weather{
	width:400px;
}

.day{
	font-size: 20px;
	color: gray;
	font-weight: bold;
	font-family: "Calibri", sans-serif;
}

/*right section css ends here*/

/*css for footer starts here*/
footer{
	position: absolute;
	top:2790px;
	margin-left: 100px;
	background-color: gray;
	width:1050px;
	height:480px;
}

.footer1{
	background-color: #AEAEAE;
	padding: 10px 0px 0px 20px;
	height:350px;
}

#head2{
	font-size: 28px;
	font-weight: bold;
	font-family: "Calibri", sans-serif;
}

a.black-link{
	font-size: 20px;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

a.white-link{
	color: white;
	font-weight: normal;
}

.footer-div{
	width:200px;
}

#footer-text{
	font-size: 20px;
}

#footer2{
	padding:15px;
}

#footer2-1{
	width:500px;
}

.footer2-2{
	width:170px;
}

#white-text{
	color:white;
	font-size: 14px;
	font-weight: bold;
}

a.small-white-link{
	font-size: 14px;
	color:white;
	font-weight: normal;
}
/*css for footer ends here*/